In [63]:
import pandas as pd
import numpy as np
pd.set_option('precision', 5)
pd.set_option('display.float_format', lambda x: '%.5f' % x) 
pd.options.display.max_rows = 200

In [64]:
train_data = pd.read_csv('./ctr_data/ctr_data/table_impr_click_action_train/table_impr_click_action_train.csv')
poi_data = pd.read_csv('./ctr_data/ctr_data/table_poi_detail/table_poi_detail.csv')
request_data = pd.read_csv('./ctr_data/ctr_data/table_request_detail/table_request_detail.csv')
uuid_data = pd.read_csv('./ctr_data/ctr_data/table_uuid_detail/table_uuid_detail.csv')
deal_data = pd.read_csv('./ctr_data/ctr_data/table_deal_detail/table_deal_detail.csv')

In [67]:
print(train_data.shape)
train_data.describe(include = 'all')

print(poi_data.shape)
poi_data.describe()

print(request_data.shape)
request_data.describe(include = 'all')

print(uuid_data.shape)
uuid_data.describe()

(4206120, 5)
(40472, 9)
(4366749, 7)
(3980951, 4)

                            uuid        gender           age           job
count              3980951.00000 3653273.00000 2412501.00000 3980951.00000
mean   9226909226997252096.00000       0.39870      28.05286       1.83676
std    5324443786193419264.00000       0.48963       7.44597       1.01210
min          1568445154080.00000       0.00000      15.00000       0.00000
25%    4617770658019108864.00000       0.00000      22.00000       1.00000
50%    9228768245233203200.00000       0.00000      27.00000       1.00000
75%   13834836867479478272.00000       1.00000      32.00000       3.00000
max   18446742462670256128.00000       1.00000      68.00000       3.00000

In [68]:
uuid_data[uuid_data.duplicated()]

request_data[request_data.duplicated()]

Empty DataFrame
Columns: [request_id, uuid, cate_id, request_time, latitude, longitude, device_type]
Index: []

In [69]:
request_data['request_id'].value_counts()

12035036767869616633    2
9504817420231295910     2
64908579230363695       2
5808412143729868476     2
13332959937347783568    2
4939012145835203929     2
9927115017176635101     2
16547528985063708750    2
3916641193751580042     2
16885849878316933172    2
11605817068708031320    2
17106286671147329737    2
11414467522772777912    2
12663825572577636201    2
9163905323437318623     1
13591141743417847917    1
10279074438333442569    1
13583045121724252703    1
12861453950832622146    1
15000679318184536871    1
4121836742049028204     1
7845333761305645071     1
3472664746962141406     1
11609195159473685961    1
2313364043540619261     1
5581197806048814407     1
10496740548271254366    1
11575292841119407621    1
13384006983689415288    1
4616620249821820011     1
2809067034561251626     1
15724207975883283023    1
14436807026848146556    1
13953946898257127367    1
6321471038614663054     1
8790868891863139295     1
541240355554230312      1
3402464235595248172     1
15411500244052545405    1
9720213575182565104     1
8831495226689007384     1
14750196801273256727    1
10724213327673866306    1
7952159167136018600     1
17433421922415065726    1
1905218814389989691     1
6364724724675464639     1
1078186530597664383     1
3431928065722895413     1
5685495948593602621     1
8977494565833364443     1
1711660675994185003     1
14381926408084845898    1
2007806151447549062     1
7515414248231967047     1
2225237415652693805     1
4560653706721863370     1
5830959819786862439     1
11102754683475790348    1
11740240306635451611    1
17996220856678109080    1
18132483033233288334    1
5698225883873424081     1
3168223358878177986     1
7371559208125952747     1
11646210720869250193    1
13697981969685614308    1
17285442098007147238    1
6648347750893205848     1
2905383894708758655     1
10272842235347217495    1
3498530326190869688     1
15817321673868153473    1
15500517331464998050    1
3772039040071375705     1
15819927970998831414    1
13462701192434372846    1
9998602794501687678     1
4804119862620768738     1
6868683392488426699     1
9786992046068504545     1
7559305728785522961     1
9794335816678689547     1
13893911908175922412    1
6462847360834547194     1
5456827041825644347     1
2708039969519867209     1
8276870780442998420     1
11884877611125390657    1
13152156050459984641    1
8838898899055503000     1
3848070968601973590     1
16001844173359129470    1
14901257569496306777    1
7329074618258582137     1
2805473884928361197     1
14171542614515216461    1
2798197991778885157     1
11324963369690001966    1
13438896092500459869    1
                       ..
1309108323488229561     1
74178078732809596       1
10080669914848404677    1
1342009974184270413     1
9323754184612798956     1
11149333698100125840    1
12834823532325585963    1
11172784991745315587    1
14415199425407668385    1
2097818258762264619     1
189344837811534158      1
8334887760819850620     1
3109550152874046185     1
16555176340806215618    1
12112214668937001020    1
11431924448193020943    1
16977164290149693741    1
15009867086827841563    1
17076260387183378787    1
11029667571331187030    1
16851902432593916284    1
10555439591277505400    1
468699885051299136      1
15993320801245652681    1
13626299530802543320    1
16675994452687033608    1
11226731458293473116    1
10706533252676138655    1
17517580613393762396    1
15191795219849442639    1
10789353651973311684    1
17471730053058871245    1
17068218099269329607    1
5431492337066432077     1
3000344126720000429     1
8922202398989269789     1
7665539846542191424     1
1306837679060985938     1
16014710335520339902    1
4827903527604120821     1
16351384711811214403    1
3317534379129605976     1
3104755215846828180     1
14126007240002868418    1
13443149072286262484    1
6770647280354960764     1
2855107090251075830     1
10162097810326565788    1
3028434902773644335     1
203359895675923920      1
2184138644368717773     1
14316672513053131882    1
4636428013534192592     1
14172692696360381183    1
7210177111562199157     1
13162222224778200371    1
3539878084909767591     1
8340669091960784172     1
16135829656894652914    1
1197138737105302485     1
17148116322199300204    1
14686605258768126925    1
11898509598310836161    1
11268341885602365103    1
7767391269150522305     1
8888681634513606686     1
16256083456269464143    1
9341031493133129796     1
12189337854067783151    1
13788783608384712054    1
1726767023808870990     1
6461422580213578300     1
13591405108870428569    1
1804657254732886001     1
5346998358217260464     1
1196752349201173264     1
7416389691564939124     1
5612062198815792777     1
6338133391874742886     1
5591540428122705633     1
13820135005355596960    1
6020318811309602003     1
2307595985774812666     1
17138898875086081042    1
4920060275475569584     1
7326121984377929743     1
9913128864632759050     1
14819493921230644963    1
1038276147490435479     1
13451939795979454781    1
5671243322918633710     1
2594252596165941699     1
14613144434369426774    1
16668573011647115196    1
7055664163063941167     1
6764423946170165094     1
12954807743772931127    1
1668714624118729528     1
17101604048405228950    1
3912938443395950180     1
Name: request_id, Length: 4366735, dtype: int64

In [70]:
request_data.drop_duplicates('request_id',keep='last',inplace=True)

In [71]:
request_data['request_id'].value_counts()

14750196801273256727    1
4616620249821820011     1
11102754683475790348    1
10724213327673866306    1
13591141743417847917    1
10279074438333442569    1
13583045121724252703    1
12861453950832622146    1
15000679318184536871    1
4121836742049028204     1
7845333761305645071     1
3472664746962141406     1
11609195159473685961    1
8831495226689007384     1
11575292841119407621    1
13384006983689415288    1
2809067034561251626     1
3772039040071375705     1
14436807026848146556    1
6321471038614663054     1
8790868891863139295     1
541240355554230312      1
3402464235595248172     1
15411500244052545405    1
9720213575182565104     1
5581197806048814407     1
10496740548271254366    1
13953946898257127367    1
15724207975883283023    1
9163905323437318623     1
2313364043540619261     1
15817321673868153473    1
3498530326190869688     1
2905383894708758655     1
6648347750893205848     1
17285442098007147238    1
2293326143654046683     1
11389228048676457837    1
16654051539509493974    1
5048518809135151424     1
14191295393248935392    1
5988763910001243348     1
17433421922415065726    1
1905218814389989691     1
6364724724675464639     1
1078186530597664383     1
3431928065722895413     1
5685495948593602621     1
8977494565833364443     1
1711660675994185003     1
14381926408084845898    1
2007806151447549062     1
7515414248231967047     1
2225237415652693805     1
4560653706721863370     1
7952159167136018600     1
5830959819786862439     1
11740240306635451611    1
17996220856678109080    1
18132483033233288334    1
5698225883873424081     1
3168223358878177986     1
7371559208125952747     1
11646210720869250193    1
13697981969685614308    1
10272842235347217495    1
5251955176030010658     1
12785775804280127105    1
3848070968601973590     1
9998602794501687678     1
4804119862620768738     1
6868683392488426699     1
9786992046068504545     1
7559305728785522961     1
9794335816678689547     1
13893911908175922412    1
6462847360834547194     1
5456827041825644347     1
2708039969519867209     1
8276870780442998420     1
11884877611125390657    1
13152156050459984641    1
8838898899055503000     1
16001844173359129470    1
11554474697597690202    1
14901257569496306777    1
7329074618258582137     1
2805473884928361197     1
14171542614515216461    1
2798197991778885157     1
11324963369690001966    1
13438896092500459869    1
14322410625165222271    1
14002880058337653672    1
5785393881159185728     1
1327327428826364307     1
14889544383520369644    1
11370065382005965868    1
9770145039610285244     1
13462701192434372846    1
                       ..
10080669914848404677    1
1342009974184270413     1
17068218099269329607    1
17471730053058871245    1
8450233347143117441     1
7684403373151141754     1
9323754184612798956     1
11149333698100125840    1
12834823532325585963    1
11172784991745315587    1
14415199425407668385    1
2097818258762264619     1
189344837811534158      1
8334887760819850620     1
3109550152874046185     1
16555176340806215618    1
12112214668937001020    1
11431924448193020943    1
16977164290149693741    1
15009867086827841563    1
17076260387183378787    1
11029667571331187030    1
16851902432593916284    1
10555439591277505400    1
468699885051299136      1
15993320801245652681    1
13626299530802543320    1
16675994452687033608    1
11226731458293473116    1
10706533252676138655    1
17517580613393762396    1
15191795219849442639    1
10789353651973311684    1
11665659050323050126    1
16282467984254914607    1
5431492337066432077     1
13788783608384712054    1
7665539846542191424     1
16256083456269464143    1
1306837679060985938     1
16014710335520339902    1
4827903527604120821     1
16351384711811214403    1
3317534379129605976     1
3104755215846828180     1
14126007240002868418    1
13443149072286262484    1
6770647280354960764     1
2855107090251075830     1
10162097810326565788    1
3028434902773644335     1
203359895675923920      1
2184138644368717773     1
14316672513053131882    1
4636428013534192592     1
14172692696360381183    1
7210177111562199157     1
13162222224778200371    1
3539878084909767591     1
8340669091960784172     1
16135829656894652914    1
1197138737105302485     1
17148116322199300204    1
14686605258768126925    1
11898509598310836161    1
11268341885602365103    1
9341031493133129796     1
17101604048405228950    1
3000344126720000429     1
1668714624118729528     1
8922202398989269789     1
12189337854067783151    1
1726767023808870990     1
6461422580213578300     1
13591405108870428569    1
1804657254732886001     1
5346998358217260464     1
1196752349201173264     1
7416389691564939124     1
5612062198815792777     1
6338133391874742886     1
5591540428122705633     1
13820135005355596960    1
6020318811309602003     1
2307595985774812666     1
17138898875086081042    1
4920060275475569584     1
7326121984377929743     1
9913128864632759050     1
14819493921230644963    1
1038276147490435479     1
13451939795979454781    1
5671243322918633710     1
2594252596165941699     1
14613144434369426774    1
16668573011647115196    1
7055664163063941167     1
6764423946170165094     1
12954807743772931127    1
3912938443395950180     1
Name: request_id, Length: 4366735, dtype: int64

In [72]:
request_data[request_data['request_id'] == 12035036767869616633]

,request_id,uuid,cate_id,request_time,latitude,longitude,device_type
3148211,12035036767869616633,6739661821014296998,1,17:39:57,37.36206,119.97195,ANDROID

In [73]:
poi_data['poi_id'].value_counts()

12415018973606522225    1
5793158053948047205     1
14842511242002431462    1
7982368499176288876     1
13367734783558162610    1
6593293248792520679     1
1737477665086579810     1
1172266708243292181     1
11874352459718988650    1
15260122571841866086    1
18103443714477881408    1
10243351815085749295    1
7844699388283195767     1
10401900040274137423    1
17039528031138844958    1
18298964851821639930    1
7871764587972496697     1
3572209815700187615     1
16708936426132060166    1
10571569764785966095    1
9661458666829362106     1
14089304702223328410    1
14984149085683052698    1
7802867172680336994     1
10648392773946199304    1
7608542533790609891     1
18354117939736898537    1
974832267537449742      1
17963260608364893253    1
4101939582216463943     1
5054302210407451397     1
14945889346427078389    1
6846909427769305892     1
14305147646463682207    1
15218126864737583275    1
15221932989646799080    1
15837918913241093873    1
1940053288324767566     1
8428121322874248434     1
3208416439919912903     1
15325533622687190481    1
5588488470233260852     1
12921937030877119909    1
6808922732015371920     1
850507084836188373      1
1767841509200884798     1
15729439338773627937    1
6360168515580306761     1
11860535980166637574    1
15600709934593403258    1
8040757275406554136     1
4593512541471171846     1
12180970171247758108    1
16065390335675742449    1
17659527031034710522    1
12215478410424703104    1
8284617583563207433     1
10770003307282150039    1
15053110332099611186    1
15491450450244600689    1
13189379050068450824    1
9682807723997283474     1
4921964346832186579     1
6489504963638290450     1
7136561149543989055     1
14067335482364948116    1
14191833438213586869    1
560837134509353512      1
1644252364843385458     1
3876869681615561054     1
17155284617521532214    1
3959812333666287420     1
11704410523624972420    1
9287332173742161173     1
12502201367276684257    1
13002717495762747972    1
1375793509853429901     1
13949139282522708781    1
11996193027384773003    1
1426836338572717377     1
16009947235594157153    1
2636267447221960500     1
14037249770211342177    1
10650994512761489989    1
15228269738275719833    1
6033790116783986142     1
10550476967385187182    1
8876290852567964286     1
3583514452064957559     1
10380153759819818669    1
17189725602916565616    1
12703351365662012065    1
15687090798460779334    1
3069103048629731271     1
15162832617497535565    1
7031895492044598873     1
9762616922576615833     1
683838239478863894      1
1291800585095264042     1
4075554962307474946     1
                       ..
14341736422184813380    1
5837213862276842844     1
10565187586328080658    1
10482975661898875757    1
15037235280947821805    1
13823265648518383999    1
11600854710120338407    1
7183126985654958563     1
15116159191942843210    1
3699847265323185580     1
9097623786999450176     1
2538510702805728145     1
764033234850704987      1
6806637672130633342     1
11820061200391098248    1
618417800935840422      1
3521856407635300565     1
7555728158771749204     1
173667414543551683      1
10442153430537439130    1
17637330772563184426    1
4797145302142433061     1
6574410955983990993     1
6863390194530751045     1
15644152441661196887    1
11334816296102429144    1
7349624465562973426     1
14691204670127196374    1
15899001857933849302    1
12475221342812855152    1
14670462585505381205    1
16434108917727475161    1
13304004981548837821    1
15844619398414144482    1
1985020799269535830     1
8497562367682081117     1
5689727154322689499     1
14411470297164338219    1
987149572348646663      1
5283338813501412802     1
1880720546515500568     1
9320211972419077901     1
7113479174818830740     1
16197764205491060513    1
4522772189606620257     1
2477992548580929075     1
8529661491211860541     1
6668107692694727302     1
4225637766442612572     1
10516996875139930800    1
4117933599254134074     1
18282398176389856278    1
13260248359986992234    1
8252395441205450757     1
7583922166718362179     1
4255468056850985068     1
4523091806056536762     1
9796530161075779742     1
17329348889442816829    1
13651752149134407907    1
11128815021327585817    1
16852956160706070454    1
14804898525265564414    1
2116869560144030370     1
16239733867764402454    1
8211996333547503087     1
18320318731252293139    1
16454471633741115675    1
18427837627480224494    1
8736885157932029169     1
13325298430140684751    1
13129827477866389974    1
15803000538938981946    1
8602227188181049248     1
16316545611509450919    1
12148695969536454958    1
14280026807913914207    1
5674077453778419183     1
283692442203306556      1
4180324629692259793     1
14911597626829583353    1
15834610026492330120    1
6670937904014486998     1
9639447185897882518     1
10185772263172622958    1
14789438641290700946    1
5438859241633583180     1
981859523819475091      1
17765713709343572219    1
6866089698435752589     1
2172398417417840383     1
6351820234552722430     1
7772907330349266837     1
17837546615345224605    1
2239381205125716512     1
14104997304940503201    1
2969540985843299437     1
13118817540281534722    1
1424495817681606491     1
17672569185844060677    1
Name: poi_id, Length: 40472, dtype: int64

In [74]:
uuid_data['uuid'].value_counts()

2541640644186638730     4
564463186872953811      3
4960603530437533965     3
9051439403767363859     3
3012714791185183690     3
3592752481086070363     3
10387872091834194203    3
11235239651275622476    3
14190110209827965951    3
15344597739098926065    3
9705616101959437061     3
5339869571460292418     3
1908074811722446244     3
17100416753916338392    3
14875877874233252268    3
14081339100971410309    3
15930238729937280963    3
8032092758392355655     3
18292544164307212187    3
5450755561519689626     3
15286058791094217874    3
6134509326896868368     3
16117767543417422133    3
11702572037407762766    3
16632405526509129736    3
369267368040114451      3
16238404654272185057    3
7898066053112607339     3
2612546082215786839     3
12973680954672826765    3
8309173247038879068     3
17414841497966478348    3
10079730721485328859    3
11039623919991617669    3
9520219214964912436     3
14047631612560581557    3
8355276603302993929     3
2855105416399156590     3
1866541721067103552     3
11852793341226776854    3
10197000579899521328    3
4176952186121242687     3
3542597840852201003     3
13520773329858815938    3
2631748509039204982     3
2391375226913331088     3
2588952775370017573     3
6924858821375967986     3
14076822608612588919    3
5996614787182249900     3
13010736899075318296    3
2337310156419322825     3
1495591651623839254     3
4444624413999528181     3
9733510575794549440     3
11363753019435172369    3
18378634221125684223    3
3038042389070500203     3
14982778844309938427    3
11528751998153214395    3
2970792221394830086     3
14799920929317673195    3
14755886054802336710    3
4143997417415860406     3
2707842690245742592     3
14424941498093319337    3
18440169165022653471    3
12111616806476397705    3
1449814056837581199     3
12265329785273432865    3
11166892175118685518    3
13542267631376942308    3
1277881167137332452     3
15449654820462903852    3
15706675572476094593    3
512022259415292051      3
380429609819782607      3
2752403663408758621     3
14477552265891416703    3
12704191839327257892    3
15276329305325365588    3
16446265120922367305    3
11544626799232565215    3
15966191631523365609    3
7692768370850274027     3
5239096849731083978     3
9943309706899176553     3
9166176715227662184     3
12706714607208441418    3
6654122849902786970     3
1302265817098401428     3
11695353703946861984    3
5309479890083689054     3
589640903022944603      3
6132012017914940853     3
3229309862938342631     3
17729826009955116923    3
3876872546609028400     3
3674702820458381211     3
15036608147615690614    3
                       ..
14574967539918592785    1
15866002498874710031    1
10685822620223175042    1
3190129659878356045     1
4765133929845764072     1
12391173109457647325    1
3908052813191914540     1
14636388903550834914    1
2679684030282830023     1
6368762368944223719     1
1855872658287998231     1
16263781190113938566    1
16242747741939629813    1
91275643510901523       1
14350471604798345852    1
14383953775338988626    1
5628186026937053221     1
14880033121046946604    1
4022320157461218036     1
3908588515793615041     1
12500345196834872926    1
13292311610217572351    1
4219849788647909884     1
16458342494671253470    1
11409274847055900148    1
16808352714210138699    1
16992182968546882060    1
17407343250737902421    1
5105119179809732209     1
7820249153910118104     1
2727729172679419846     1
1639429140839342677     1
12057620226085281045    1
11106957077946079000    1
12437396570170959211    1
11166512154006430101    1
9020003435307885292     1
15705582420861318206    1
3639188933449358267     1
4163805576760906735     1
10341668761651342741    1
11588281656469206812    1
8025337370423338824     1
7290662502027061952     1
17061956769507517456    1
9292914371341389318     1
6399163127023920032     1
14558760271853131268    1
14166349728969962926    1
18239957174052319135    1
8497678570665577339     1
4203755462041464065     1
13969879289018660414    1
12530409381871301086    1
16050828571528754278    1
7079377655041567650     1
6403051846573791591     1
1077453404000225928     1
17536784628073113025    1
7557108184277472638     1
1456771002446148942     1
3250497179098290549     1
7392879883053254977     1
4591533192113447693     1
15388187189209051868    1
11742722963727945646    1
11304285966940960657    1
4148983959890956535     1
17632351845170721482    1
13135458966474875027    1
18223765831320022226    1
8140459573465440135     1
170834786276935033      1
6841552912802607608     1
5949695950032309151     1
10899626635278519218    1
12199837427111303576    1
9241666901830442091     1
10309367579867518534    1
6653858183212158940     1
13177958532861499077    1
11550886805596566774    1
17700231678719501998    1
18435047123392592655    1
4312508241051000421     1
15174992307328606301    1
8229737540442677477     1
586022448680011752      1
1969865054850888996     1
6974799066059587752     1
14320664519071064993    1
15654253699453637036    1
2620270912455277193     1
3692064481685389133     1
2413838666318327160     1
9438833016359575435     1
6600830748054582710     1
1638601721909040650     1
3442654684898910631     1
11525037797564099878    1
Name: uuid, Length: 3961723, dtype: int64

In [75]:
uuid_data[uuid_data['uuid'] == 3012714791185183690]

                       uuid  gender      age  job
219578  3012714791185183690 0.00000 31.00000    0
223098  3012714791185183690 0.00000 31.00000    1
231982  3012714791185183690 0.00000 31.00000    3

In [76]:
uuid_data.drop_duplicates('uuid',keep='last',inplace=True)

In [77]:
uuid_data['uuid'].value_counts()

7782398306251109701     1
4292810472297207574     1
12624342685696110778    1
12788056816185385879    1
4591579500185472582     1
12414913903949062127    1
8310539729208238690     1
6877800496378906523     1
8648103113517978415     1
2647427848422623263     1
16070540322580702578    1
4061959469549336726     1
14218632260099167127    1
8057367299434671267     1
18275368132276278661    1
14192330465968564839    1
3288680854422523951     1
14570680978441962577    1
17025850163042466524    1
7294999379019993956     1
1264321101497791508     1
8228596886578346524     1
7796157863575459445     1
2359142942896060604     1
8390499519335039958     1
1935457834547439336     1
15573251699021117517    1
11843862897125643249    1
12587827180141479270    1
11915507079549929368    1
1225681392105995884     1
15853131278801401746    1
7459751884873310359     1
386533246068541916      1
12871955392150810160    1
15994093648676306754    1
9601756383785118303     1
4175347053039941397     1
6108250321775723347     1
10313163326342830774    1
3156621333219886647     1
12031156391150051193    1
16307314485265496842    1
17691195204680535843    1
10065658340174773367    1
12179445538584470627    1
4407234419276487887     1
2795463171057556354     1
17681642365626636017    1
12672389613028828082    1
13586384541441446548    1
4633958756254466744     1
13067092855308777266    1
17591908756210509578    1
5246428320995793293     1
17047447314263324523    1
8126359274579162802     1
13303533154347281553    1
16459541200586688167    1
12236346484815542418    1
4729901099952153421     1
315183750721214024      1
17967058326972997240    1
16551320154955038973    1
6950421489649482660     1
5669964029368928122     1
10452532244228223067    1
11135526927312778557    1
5490186715064584639     1
11631013044237354376    1
10203703600871232881    1
7942803204056199269     1
3016821422194130391     1
16686865797088026067    1
12128512966034737020    1
13178700807923046725    1
4252603224739516228     1
8168234690347312452     1
7428939189072015384     1
5478407560946038019     1
12173896761682297091    1
6412481725734455408     1
17948184668198684450    1
2906944719434670882     1
15110467513664046989    1
13543350544092269709    1
3580759551249867578     1
6268447573348497838     1
4744604475066923538     1
3970965443732407405     1
7225085024821286615     1
15203348304792530161    1
9427625325795135491     1
14699166411194329173    1
1776049165711823616     1
17367916489019850917    1
7952049701889506092     1
10630039505067765999    1
14139824404942481680    1
3455478698406029143     1
                       ..
16943687541146797863    1
5455237855464343324     1
6882889041034395324     1
7410482749695014102     1
3100886112663720536     1
17933690612114526127    1
2761623361119671643     1
8893979538611035261     1
6621906820276994951     1
2546626720886194652     1
11712696740259804145    1
8357218614473800401     1
2789429081502339888     1
15305911077227673801    1
10773776907505812704    1
11330612551026755669    1
8525814029549616066     1
14666913768244761205    1
11811247617562606538    1
13285593241973574157    1
11686551531956656654    1
17321494224620689036    1
3773621744266107432     1
17806835589692002818    1
10687033913850874380    1
5989904257469242295     1
13015892352387029170    1
4401933123279382827     1
2668511761509317858     1
17735788369683736709    1
14781494167366038290    1
3311848002753126438     1
5406278769892691140     1
562722772502341253      1
10738277549419141526    1
1250803323111641427     1
2326295832185680630     1
9283092906361603008     1
13409388835797684779    1
4340580814471849595     1
16921237080979061353    1
4262617853150128031     1
5369976286243412750     1
8471937388053584516     1
16203099227603382755    1
10136433799430347236    1
8828232285401797298     1
14099191365474966631    1
8987607823151169363     1
1150242539342612672     1
7120456158696246548     1
799507378480023645      1
17038950488755364419    1
5972351318401441794     1
7537242635566196837     1
11355800274579349880    1
1156460721145246712     1
5146448300486332629     1
3648254579017402084     1
6945703437362092368     1
10444312951607562180    1
4415577756293624096     1
1066499142682288033     1
16628575720475104673    1
4562349643998726818     1
3534960886070951750     1
17762550181250375165    1
14477572100922129833    1
3240852398787819330     1
11492830446634894241    1
13679884640550084314    1
209086709610931198      1
16411147060116476887    1
4158328942606514368     1
2741537929454569164     1
17318029676438898130    1
8699340456824575948     1
5591221392667278549     1
7833435408635598791     1
4232858411428291449     1
7004547299908523754     1
15338878381570918135    1
11923460400832864187    1
11023785322351642774    1
10032918782067865221    1
9276139902104615354     1
16498457933529420080    1
8226914998607401597     1
14949083301832707027    1
4180277443932720821     1
4517221536443436845     1
3692119233020139737     1
8391301102440477786     1
10915441679842729366    1
5664014232519062229     1
8110436186209985278     1
6493852514088701712     1
14923270530107299872    1
12130319400611104918    1
11525037797564099878    1
Name: uuid, Length: 3961723, dtype: int64

In [78]:
request_uuid_data = pd.merge(request_data, uuid_data, on='uuid', how = 'left')

In [80]:
uuid_data.shape

(3961723, 4)

In [81]:
request_data.shape

(4366735, 7)

In [82]:
request_uuid_data.shape

(4366735, 10)

In [83]:
print(train_data.shape)
# poi_deal_data = pd.merge(poi_data, deal_data, on='poi_id')
merge_train_data = pd.merge(train_data, request_uuid_data, on='request_id', how='left')
print(merge_train_data.shape)
# merge_train_data = pd.merge(merge_train_data, poi_deal_data, on='poi_id')
merge_train_data = pd.merge(merge_train_data, poi_data, on='poi_id', how='left')
merge_train_data.columns

print(merge_train_data.shape)
merge_train_data.rename({'cate_id':'request_cate_id', 'latitude_x':'latitude_req', 'longitude_x':'longitude_req', 'longitude_y':'longitude_poi', 'latitude_y':'latitude_poi'}, axis='columns', inplace=True)
merge_train_data.columns

(4206120, 5)
(4206120, 14)

Index(['poi_id', 'request_id', 'pos', 'time', 'action', 'uuid', 'cate_id',
       'request_time', 'latitude_x', 'longitude_x', 'device_type', 'gender',
       'age', 'job', 'cate_level1', 'cate_level2', 'cate_level3', 'area_id',
       'avg_price', 'poi_star', 'longitude_y', 'latitude_y'],
      dtype='object')

In [85]:
test_data = pd.read_csv('./ctr_data/ctr_data/table_impr_click_action_test/table_impr_click_action_test.csv')
print(test_data.shape)
merge_test_data = pd.merge(test_data, request_uuid_data, on='request_id', how='left')
# merge_test_data = pd.merge(merge_test_data, poi_deal_data, on='poi_id')
merge_test_data = pd.merge(merge_test_data, poi_data, on='poi_id', how='left')
print(merge_test_data.shape)
merge_test_data.describe()

(192000, 4)
(192000, 21)

,ID,poi_id,request_id,uuid,cate_id,latitude_x,longitude_x,gender,age,job,cate_level1,cate_level2,cate_level3,area_id,avg_price,poi_star,longitude_y,latitude_y
count,192000.00000,192000.00000,192000.00000,191997.00000,191997.00000,186971.00000,186971.00000,177738.00000,119496.00000,191997.00000,192000.00000,192000.00000,192000.00000,192000.00000,191993.00000,191916.00000,192000.00000,192000.00000
mean,95999.50000,9264012196760377344.00000,9227012351313641472.00000,9228547745081667584.00000,297.28510,31.29658,113.52134,0.41648,27.32943,1.82684,225.92268,443.81416,1088.54853,13388.74947,80.26317,44.37211,113.52783,31.29958
std,55425.77018,5268318366026227712.00000,5330354692299018240.00000,5326838760505930752.00000,38324.72048,6.37037,7.17691,0.49298,7.13652,0.99297,12.69359,651.78327,975.51403,10943.51506,246.80755,6.48042,6.83354,6.34942
min,0.00000,1015769069232803.00000,1746252198753.00000,46993148784627.00000,1.00000,-40.61593,-123.27593,0.00000,15.00000,0.00000,3.00000,10.00000,8.00000,5.00000,0.00000,0.00000,75.15370,17.76474
25%,47999.75000,4781846136635040768.00000,4604571799849832448.00000,4606576224788310016.00000,1.00000,26.42698,111.61280,0.00000,22.00000,1.00000,226.00000,201.00000,153.00000,4804.00000,45.00000,40.00000,111.59408,26.42478
50%,95999.50000,9282795332024958976.00000,9238522345506439168.00000,9247145681530705920.00000,1.00000,30.82624,113.56936,0.00000,26.00000,1.00000,226.00000,229.00000,383.00000,13305.00000,68.00000,46.00000,113.54299,30.82119
75%,143999.25000,13781640347474020352.00000,13854574578587185152.00000,13847680929835657216.00000,1.00000,35.94066,118.52135,1.00000,31.00000,3.00000,226.00000,315.00000,2032.00000,19455.00000,89.00000,50.00000,118.50223,35.93822
max,191999.00000,18446645066501654528.00000,18446480806651654144.00000,18446722357560954880.00000,8389617.00000,59.48340,150.38660,1.00000,68.00000,3.00000,1853.00000,2413.00000,2547.00000,37662.00000,19415.00000,50.00000,130.34367,49.14874

In [86]:
print(merge_train_data.shape)
merge_train_data.describe(include = 'all')

(4206120, 22)

,poi_id,request_id,pos,time,action,uuid,request_cate_id,request_time,latitude_req,longitude_req,...,age,job,cate_level1,cate_level2,cate_level3,area_id,avg_price,poi_star,longitude_poi,latitude_poi
count,4206120.00000,4206120.00000,4206120.00000,4206120,4206120.00000,4206064.00000,4206064.00000,4206064,4091427.00000,4091427.00000,...,2565813.00000,4206064.00000,4206120.00000,4206120.00000,4206120.00000,4206120.00000,4205879.00000,4204643.00000,4206120.00000,4206120.00000
unique,nan,nan,nan,22,nan,nan,nan,83681,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
top,nan,nan,nan,2019-05-09,nan,nan,nan,17:50:55,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
freq,nan,nan,nan,241304,nan,nan,nan,192,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
mean,9262416013571815424.00000,9225041193356433408.00000,20.93694,NaN,0.02578,9226431753641746432.00000,142.95562,NaN,31.38584,113.37465,...,28.05098,1.83803,225.88003,470.15644,1078.40667,13416.39455,80.80741,44.32480,113.36537,31.38532
std,5296594766625809408.00000,5323250278936692736.00000,35.11250,NaN,0.17433,5324484265709347840.00000,8345.52950,NaN,6.26801,7.10029,...,7.44693,1.00911,6.60952,682.01495,977.54355,10986.59490,288.14349,6.84493,6.93034,6.25684
min,736732185668514.00000,6427683153551.00000,1.00000,NaN,0.00000,1568445154080.00000,1.00000,NaN,-46.37095,-124.04854,...,15.00000,0.00000,3.00000,10.00000,8.00000,5.00000,0.00000,0.00000,1.52506,0.83036
25%,4707558310251797504.00000,4620077116188979200.00000,3.00000,NaN,0.00000,4618161756153104384.00000,1.00000,NaN,27.38043,110.72351,...,22.00000,1.00000,226.00000,201.00000,153.00000,4793.00000,41.00000,40.00000,110.69823,27.37961
50%,9278720388121249792.00000,9224905871372967936.00000,8.00000,NaN,0.00000,9227716239303196672.00000,1.00000,NaN,30.84625,113.57941,...,27.00000,1.00000,226.00000,229.00000,383.00000,13328.00000,67.00000,46.00000,113.56334,30.84443
75%,13844432079218188288.00000,13832939879944878080.00000,26.00000,NaN,0.00000,13833480609442394112.00000,1.00000,NaN,35.82815,118.53836,...,32.00000,3.00000,226.00000,315.00000,2032.00000,19598.00000,89.00000,50.00000,118.51941,35.78333
max,18446645066501654528.00000,18446741896482721792.00000,3712.00000,NaN,11.00000,18446742462670256128.00000,8389617.00000,NaN,61.61060,174.80572,...,68.00000,3.00000,1853.00000,2413.00000,2548.00000,80019.00000,109353.00000,50.00000,130.34367,50.79686

In [87]:
merge_train_data.isnull().sum()

poi_id                   0
request_id               0
pos                      0
time                     0
action                   0
uuid                    56
request_cate_id         56
request_time            56
latitude_req        114693
longitude_req       114693
device_type           1720
gender              335273
age                1640307
job                     56
cate_level1              0
cate_level2              0
cate_level3              0
area_id                  0
avg_price              241
poi_star              1477
longitude_poi            0
latitude_poi             0
dtype: int64

In [88]:
merge_train_data.drop(merge_train_data[merge_train_data['request_cate_id'].isnull().values==True].index, inplace=True)

In [89]:
merge_train_data.isnull().sum()

poi_id                   0
request_id               0
pos                      0
time                     0
action                   0
uuid                     0
request_cate_id          0
request_time             0
latitude_req        114637
longitude_req       114637
device_type           1664
gender              335217
age                1640251
job                      0
cate_level1              0
cate_level2              0
cate_level3              0
area_id                  0
avg_price              241
poi_star              1477
longitude_poi            0
latitude_poi             0
dtype: int64

In [93]:
merge_test_data.isnull().sum()

ID                     0
poi_id                 0
request_id             0
time                   0
uuid                   3
request_cate_id        3
request_time           3
latitude_req        5029
longitude_req       5029
device_type           86
gender             14262
age                72504
job                    3
cate_level1            0
cate_level2            0
cate_level3            0
area_id                0
avg_price              7
poi_star              84
longitude_poi          0
latitude_poi           0
dtype: int64

In [92]:
merge_test_data.rename({'cate_id':'request_cate_id', 'latitude_x':'latitude_req', 'longitude_x':'longitude_req', 'longitude_y':'longitude_poi', 'latitude_y':'latitude_poi'}, axis='columns', inplace=True)
merge_test_data.columns

Index(['ID', 'poi_id', 'request_id', 'time', 'uuid', 'request_cate_id',
       'request_time', 'latitude_req', 'longitude_req', 'device_type',
       'gender', 'age', 'job', 'cate_level1', 'cate_level2', 'cate_level3',
       'area_id', 'avg_price', 'poi_star', 'longitude_poi', 'latitude_poi'],
      dtype='object')

In [90]:
merge_train_data.shape

(4206064, 22)

In [91]:
merge_test_data.shape

(192000, 21)

In [96]:
merge_train_data.drop(merge_train_data[merge_train_data['action'] > 1].index, inplace=True)

In [97]:
merge_train_data.shape

(4198717, 22)

In [98]:
merge_test_data.shape

(192000, 21)

In [99]:
merge_train_data.to_csv('join_train_data_1030.csv', index = False)

In [94]:
merge_test_data.to_csv('join_test_data_1030.csv', index = False)

In [95]:
merge_train_data[merge_train_data.duplicated()]

Empty DataFrame
Columns: [poi_id, request_id, pos, time, action, uuid, request_cate_id, request_time, latitude_req, longitude_req, device_type, gender, age, job, cate_level1, cate_level2, cate_level3, area_id, avg_price, poi_star, longitude_poi, latitude_poi]
Index: []

[0 rows x 22 columns]

In [59]:
merge_test_data[merge_test_data.duplicated()]

Empty DataFrame
Columns: [ID, poi_id, request_id, time, uuid, request_cate_id, request_time, latitude_req, longitude_req, device_type, gender, age, job, cate_level1, cate_level2, cate_level3, area_id, avg_price, poi_star, longitude_poi, latitude_poi]
Index: []

[0 rows x 21 columns]

In [22]:
# print(len(merge_train_data))
# uni_count = {c: merge_train_data[c].nunique() for c in merge_train_data.columns}
# uni_count_percent = {c: str(merge_train_data[c].nunique() / len(merge_train_data) * 100)[0:6] + '%' for c in merge_train_data.columns}
# uni_count

In [60]:
merge_train_data.dtypes

poi_id              uint64
request_id          uint64
pos                  int64
time                object
action               int64
uuid               float64
request_cate_id    float64
request_time        object
latitude_req       float64
longitude_req      float64
device_type         object
gender             float64
age                float64
job                float64
cate_level1          int64
cate_level2          int64
cate_level3          int64
area_id              int64
avg_price          float64
poi_star           float64
longitude_poi      float64
latitude_poi       float64
dtype: object

In [24]:
# merge_train_data['gender'] = merge_train_data['gender'].astype('int64')
# merge_train_data['age'] = merge_train_data['age'].astype('int64')
# merge_train_data['poi_star'] = merge_train_data['poi_star'].astype('int64')
# merge_train_data['avg_price'] = merge_train_data['avg_price'].astype('int64')

# merge_train_data['gender'] = merge_train_data['gender'].astype('category')
# merge_train_data['age'] = merge_train_data['age'].astype('category')
# merge_train_data['poi_star'] = merge_train_data['poi_star'].astype('category')
# merge_train_data['cate_level1'] = merge_train_data['cate_level1'].astype('category')
# merge_train_data['cate_level2'] = merge_train_data['cate_level2'].astype('category')
# merge_train_data['cate_level3'] = merge_train_data['cate_level3'].astype('category')
# merge_train_data['area_id'] = merge_train_data['area_id'].astype('category')
# merge_train_data['avg_price'] = merge_train_data['avg_price'].astype('category')

# merge_test_data['gender'] = merge_test_data['gender'].astype('category')
# merge_test_data['age'] = merge_test_data['age'].astype('category')
# merge_test_data['poi_star'] = merge_test_data['poi_star'].astype('category')
# merge_test_data['cate_level1'] = merge_test_data['cate_level1'].astype('category')
# merge_test_data['cate_level2'] = merge_test_data['cate_level2'].astype('category')
# merge_test_data['cate_level3'] = merge_test_data['cate_level3'].astype('category')
# merge_test_data['area_id'] = merge_test_data['area_id'].astype('category')
# merge_test_data['avg_price'] = merge_test_data['avg_price'].astype('category')

In [25]:
merge_train_data.select_dtypes(include=['O', 'category']).describe().T

                count unique         top     freq
time          4133233     22  2019-05-09   237149
request_time  4133233  83543    18:09:46      193
device_type   4131567     18     ANDROID  2425770

In [26]:
merge_test_data.select_dtypes(include=['O', 'category']).describe().T

               count unique         top    freq
time          189131      1  2019-05-24  189131
request_time  189131  53509    18:19:50      19
device_type   189048     12     ANDROID  110230

In [62]:
merge_train_data.describe(include = 'all')

,poi_id,request_id,pos,time,action,uuid,request_cate_id,request_time,latitude_req,longitude_req,...,job,cate_level1,cate_level2,cate_level3,area_id,avg_price,poi_star,longitude_poi,latitude_poi,distance
count,4091427.00000,4091427.00000,4091427.00000,4091427,4091427.00000,4091427.00000,4091427.00000,4091427,4091427.00000,4091427.00000,...,4091427.00000,4091427.00000,4091427.00000,4091427.00000,4091427.00000,4091197.00000,4089985.00000,4091427.00000,4091427.00000,4091427.00000
unique,nan,nan,nan,22,nan,nan,nan,83543,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
top,nan,nan,nan,2019-05-09,nan,nan,nan,18:09:46,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
freq,nan,nan,nan,234952,nan,nan,nan,190,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
mean,9263267146701328384.00000,9225220644650366976.00000,21.13522,NaN,0.02591,9226782040983756800.00000,141.94803,NaN,31.38584,113.37465,...,1.83516,225.88118,470.28847,1079.47012,13401.98000,81.12793,44.32260,113.38345,31.38068,805.55166
std,5297199875263761408.00000,5323578945577968640.00000,35.29724,NaN,0.17482,5324199407024850944.00000,8455.70662,NaN,6.26801,7.10029,...,1.00692,6.61569,682.21741,977.54231,10982.23309,290.04800,6.84464,6.91942,6.25208,1986.24003
min,736732185668514.00000,6427683153551.00000,1.00000,NaN,0.00000,1568445154080.00000,1.00000,NaN,-46.37095,-124.04854,...,0.00000,3.00000,10.00000,8.00000,5.00000,0.00000,0.00000,75.15138,0.83036,0.00600
25%,4711116669438944256.00000,4619486920546390016.00000,3.00000,NaN,0.00000,4619331431321099264.00000,1.00000,NaN,27.38043,110.72351,...,1.00000,226.00000,201.00000,153.00000,4793.00000,42.00000,40.00000,110.77155,27.38281,76.72700
50%,9280717914504259584.00000,9225396173825806336.00000,8.00000,NaN,0.00000,9228583389291302912.00000,1.00000,NaN,30.84625,113.57941,...,1.00000,226.00000,229.00000,383.00000,13325.00000,67.00000,46.00000,113.57780,30.84008,187.39700
75%,13846860483431372800.00000,13833844517281980416.00000,28.00000,NaN,0.00000,13833152111818924032.00000,1.00000,NaN,35.82815,118.53836,...,3.00000,226.00000,315.00000,2032.00000,19553.00000,89.00000,50.00000,118.53264,35.75923,541.47550
max,18446645066501654528.00000,18446741896482721792.00000,3712.00000,NaN,11.00000,18446742462670256128.00000,8389617.00000,NaN,61.61060,174.80572,...,3.00000,1853.00000,2413.00000,2548.00000,80019.00000,109353.00000,50.00000,130.34367,50.79686,19968.79500

In [29]:
merge_test_data.describe(include = 'all')

,ID,poi_id,request_id,time,uuid,request_cate_id,request_time,latitude_req,longitude_req,device_type,...,job,cate_level1,cate_level2,cate_level3,area_id,avg_price,poi_star,longitude_poi,latitude_poi,distance
count,189131.00000,189131.00000,189131.00000,189131,189131.00000,189131.00000,189131,189131.00000,189131.00000,189048,...,189131.00000,189131.00000,189131.00000,189131.00000,189131.00000,189124.00000,189043.00000,189131.00000,189131.00000,189131.00000
unique,nan,nan,nan,1,nan,nan,53509,nan,nan,12,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
top,nan,nan,nan,2019-05-24,nan,nan,18:19:50,nan,nan,ANDROID,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
freq,nan,nan,nan,189131,nan,nan,19,nan,nan,110230,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
mean,96032.46570,9262895864662818816.00000,9224552433780389888.00000,NaN,9227150407798095872.00000,298.93208,NaN,31.29467,113.51789,NaN,...,1.81855,225.93284,443.75724,1090.18425,13362.35957,80.52728,44.36790,113.54271,31.29309,701.33208
std,55418.37218,5267947885070977024.00000,5330903390713163776.00000,NaN,5325918892514916352.00000,38613.27237,NaN,6.36940,7.17456,NaN,...,0.99169,13.29123,651.73783,975.63600,10937.34585,248.51472,6.47610,6.82185,6.34518,1753.02774
min,0.00000,1015769069232803.00000,1746252198753.00000,NaN,46993148784627.00000,1.00000,NaN,-40.61593,-123.27593,NaN,...,0.00000,3.00000,10.00000,8.00000,5.00000,0.00000,0.00000,75.15370,17.76474,0.05200
25%,48047.50000,4779029800909582336.00000,4598319443624252416.00000,NaN,4606500653506214912.00000,1.00000,NaN,26.42872,111.61170,NaN,...,1.00000,226.00000,201.00000,153.00000,4801.00000,45.00000,40.00000,111.60388,26.44201,74.63900
50%,96041.00000,9284215642570940416.00000,9238560610281717760.00000,NaN,9244906009272600576.00000,1.00000,NaN,30.82442,113.56798,NaN,...,1.00000,226.00000,229.00000,383.00000,13278.00000,68.00000,46.00000,113.55834,30.81100,182.95400
75%,144038.50000,13780201830896963584.00000,13851708793931448320.00000,NaN,13844972522295508992.00000,1.00000,NaN,35.93890,118.51933,NaN,...,3.00000,226.00000,315.00000,2032.00000,19422.00000,89.00000,50.00000,118.51711,35.91952,503.17950
max,191999.00000,18446645066501654528.00000,18446466594632927232.00000,NaN,18446722357560954880.00000,8389617.00000,NaN,59.48340,150.38660,NaN,...,3.00000,1853.00000,2413.00000,2547.00000,37662.00000,19415.00000,50.00000,130.34367,49.14874,19900.45300